<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.jbk.owu.util.TestNgListener"></listener>

</listeners>

	<test name="test">
		<classes>
			<class name="com.jbk.owp.base.TestBase" />
			<class name="com.jbk.owp.test.RegisterMemberPageTest" />
			<class name="com.jbk.owp.test.LoginPageTest" />
			<class name="com.jbk.owp.test.DashboardPageTest" />
			<class name="com.jbk.owp.test.UsersTest"/> 
			<class name="com.jbk.owp.test.AddUserPageTest" />
			<class name="com.jbk.owp.test.UsefulLinksTest"/> 
		</classes>
	</test>
</suite> <!-- Suite -->
