<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" >
 <test  name="Default test" >
    <classes>
      <class name="com.jbk.owp.base.TestBase"/>
      <class name="com.jbk.owp.test.LoginPageTest2"/> 
      <class name="com.jbk.owp.test.DashboardPageTest2"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
